https://data.world/cityofchicago/gumc-mgzr

Original Title: Violence Reduction - Victims of Homicides and Non-Fatal Shootings

This dataset contains individual-level homicide and non-fatal shooting victimizations from 2016 to the present. Each row represents a single victimization, i.e., a unique event when an individual became the victim of a violent index crime. Each row does not represent a unique victim—if someone is victimized multiple times there will be multiple rows for each of those distinct events. These classifications are slightly different from the Chicago Police Department’s (CPD) traditional Illinois Uniform Crime Reporting (IUCR) classifications of criminal incidents. "Fatal Shooting," "Non-Shooting Homicide," and "Non-Fatal Shooting" are not IUCR primary descriptions (IUCR primary descriptions do not specify type of injury). However, due to the severity of gun violence in Chicago, the City has chosen to depart slightly from IUCR primary descriptions used in this dataset to highlight injuries caused by guns. The dataset is refreshed daily, but excludes the most recent complete day to allow CPD time to gather the best available information. Each time the dataset is refreshed, records can change as CPD learns more about each victimization, especially those victimizations that are most recent. The data on the Mayor's Office Violence Reduction Dashboard is updated daily with an approximately 48-hour lag. As cases are passed from the initial reporting officer to the investigating detectives, some recorded data about incidents and victimizations may change once additional information arises. Regularly updated datasets on the City's public portal may change to reflect new or corrected information. A version of this dataset with additional crime types is available by request. To make a request, please email dataportal@cityofchicago.org with the subject line: Violence Reduction Victims Access Request. Access will require an account on this site, which you may create at https://data.cityofchicago.org/signup. Note: The definition of “homicide” (shooting or otherwise) does not include justifiable homicide or involuntary manslaughter. This dataset also excludes any cases that CPD considers to be “unfounded” or “noncriminal.” Officer-involved shootings are also excluded; when an officer discharges their weapon, a separate case report is generated using one of the following IUCR codes: 5060, 5103, 5104, 5140, 5141, 5142. Note: The initial reporting officer usually asks victims to report demographic data. If victims are unable to recall, the reporting officer will use their best judgment. “Unknown” can be reported if it is truly unknown.

Source: https://data.cityofchicago.org/d/gumc-mgzr
Last updated at https://data.cityofchicago.org/ : 2021-05-29

### Перевод:

Оригинальное название: Violence Reduction — Жертвы убийств и стрельбы без смертельного исхода

Этот набор данных содержит индивидуальные убийства и несмертельные случаи стрельбы с 2016 года по настоящее время. Каждая строка представляет одну виктимизацию, т. е. уникальное событие, когда человек стал жертвой индексного насильственного преступления. Каждая строка не представляет уникальную жертву — если кто-то становится жертвой несколько раз, для каждого из этих отдельных событий будет несколько строк. Эти классификации немного отличаются от традиционных классификаций уголовных происшествий Департамента полиции Чикаго (CPD) Иллинойса. «Стрельба со смертельным исходом», «Убийство без стрельбы» и «Стрельба без смертельного исхода» не являются основными описаниями IUCR (в основных описаниях IUCR не указывается тип травмы). Однако из-за серьезности насилия с применением огнестрельного оружия в Чикаго городские власти решили немного отойти от основных описаний IUCR, используемых в этом наборе данных, чтобы выделить травмы, нанесенные огнестрельным оружием. Набор данных обновляется ежедневно, но исключает самый последний полный день, чтобы дать CPD время для сбора наилучшей доступной информации. Каждый раз, когда набор данных обновляется, записи могут меняться, поскольку CPD узнает больше о каждой виктимизации, особенно о самых последних виктимизациях. Данные на информационной панели мэрии по снижению уровня насилия обновляются ежедневно с задержкой примерно в 48 часов. По мере того, как дела передаются от сотрудника, ответственного за первоначальное сообщение, следователям, некоторые зарегистрированные данные об инцидентах и ​​виктимизации могут измениться по мере поступления дополнительной информации. Регулярно обновляемые наборы данных на публичном портале города могут меняться, чтобы отражать новую или исправленную информацию. Версия этого набора данных с дополнительными типами преступлений доступна по запросу. Чтобы сделать запрос, отправьте электронное письмо по адресу dataportal@cityofchicago.org, указав в строке темы: Запрос на доступ к жертвам сокращения насилия. Для доступа потребуется учетная запись на этом сайте, которую вы можете создать по адресу https://data.cityofchicago.org/signup. Примечание. Определение «убийство» (стрельба или иное) не включает оправданное убийство или непредумышленное убийство. Этот набор данных также исключает любые случаи, которые CPD считает «необоснованными» или «неуголовными». Стрельба с участием офицеров также исключена; когда офицер разряжает свое оружие, создается отдельный отчет о случае с использованием одного из следующих кодов IUCR: 5060, 5103, 5104, 5140, 5141, 5142. Примечание: первоначально сообщающий офицер обычно просит жертв сообщить демографические данные. Если потерпевшие не могут вспомнить, офицер-докладчик примет надлежащее решение. «Неизвестно» можно сообщить, если оно действительно неизвестно.

Источник: https://data.cityofchicago.org/d/gumc-mgzr.
Последнее обновление на https://data.cityofchicago.org/: 29 мая 2021 г.

- street outreach organization - Программа Street Outreach позволяет организациям по всей стране помочь бездомным молодым людям найти безопасное жилье. С этой целью программа поддерживает усилия грантополучателей по налаживанию отношений между уличными аутрич-работниками и беглыми, бездомными и уличной молодежью.

In [168]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [169]:
df = pd.read_csv('/home/roman/violence_reduction/violence-reduction-victims-of-homicides-and-non-fatal-shootings-1.csv')

In [170]:
df.head(3)

,CASE_NUMBER,DATE,BLOCK,PRIMARY_TYPE,UNIQUE_ID,ZIP_CODE,WARD,COMMUNITY_AREA,STREET OUTREACH ORGANIZATION,AREA,...,FBI_CD,FBI_DESCR,IUCR_CD,IUCR_SECONDARY,MONTH,DAY_OF_WEEK,HOUR,LATITUDE,LONGITUDE,LOCATION
0,JE235091,05/19/2021 11:20:00 AM,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,4,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858)
1,JE240540,05/24/2021 12:01:00 AM,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,04B,AGGRAVATED BATTERY (INDEX),041A,AGGRAVATED - HANDGUN,5,2,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947)
2,JE241639,05/24/2021 09:05:00 PM,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,2,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858)

In [171]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [172]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,fbi_cd,fbi_descr,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location
0,JE235091,05/19/2021 11:20:00 AM,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,4,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858)
1,JE240540,05/24/2021 12:01:00 AM,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,04B,AGGRAVATED BATTERY (INDEX),041A,AGGRAVATED - HANDGUN,5,2,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947)
2,JE241639,05/24/2021 09:05:00 PM,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,2,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858)

In [173]:
df.shape

(19530, 25)

In [174]:
df.duplicated().sum()

0

In [175]:
df.isna().sum()

case_number                       0
date                              0
block                             0
primary_type                      0
unique_id                         0
zip_code                          0
ward                              0
community_area                    0
street_outreach_organization      0
area                              0
district                          0
beat                              0
age                             255
sex                             202
race                            202
fbi_cd                            0
fbi_descr                         0
iucr_cd                           0
iucr_secondary                    0
month                             0
day_of_week                       0
hour                              0
latitude                          0
longitude                         0
location                          0
dtype: int64

In [176]:
df[['age', 'sex', 'race']] = df[['age', 'sex', 'race']].fillna('no_info')

In [177]:
df.dtypes

case_number                      object
date                             object
block                            object
primary_type                     object
unique_id                        object
zip_code                          int64
ward                              int64
community_area                   object
street_outreach_organization     object
area                              int64
district                          int64
beat                              int64
age                              object
sex                              object
race                             object
fbi_cd                           object
fbi_descr                        object
iucr_cd                          object
iucr_secondary                   object
month                             int64
day_of_week                       int64
hour                              int64
latitude                        float64
longitude                       float64
location                         object
dtype: object

In [178]:
df.columns

Index(['case_number', 'date', 'block', 'primary_type', 'unique_id', 'zip_code',
       'ward', 'community_area', 'street_outreach_organization', 'area',
       'district', 'beat', 'age', 'sex', 'race', 'fbi_cd', 'fbi_descr',
       'iucr_cd', 'iucr_secondary', 'month', 'day_of_week', 'hour', 'latitude',
       'longitude', 'location'],
      dtype='object')

In [179]:
df.describe(include='all')

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,fbi_cd,fbi_descr,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location
count,19530,19530,19530,19530,19530,19530.000000,19530.000000,19530,19530,19530.000000,...,19530,19530,19530,19530,19530.000000,19530.000000,19530.000000,19530.000000,19530.000000,19530
unique,15636,15964,7980,3,19530,NaN,NaN,77,77,NaN,...,5,5,25,34,NaN,NaN,NaN,NaN,NaN,15608
top,JE168486,07/21/2020 06:24:00 PM,6400 S DR MARTIN,NON-FATAL SHOOTING,HOM-JE235091-1,NaN,NaN,AUSTIN,None,NaN,...,04B,AGGRAVATED BATTERY (INDEX),041A,AGGRAVATED: HANDGUN,NaN,NaN,NaN,NaN,NaN,POINT (-87.65027034612 41.750853345858)
freq,15,15,38,15989,1,NaN,NaN,2067,4969,NaN,...,15306,15306,15051,9584,NaN,NaN,NaN,NaN,NaN,15
mean,NaN,NaN,NaN,NaN,NaN,60630.375064,20.643779,NaN,NaN,2.538607,...,NaN,NaN,NaN,NaN,6.543216,3.969585,13.075525,41.819341,-87.673232,NaN
std,NaN,NaN,NaN,NaN,NaN,21.950295,11.005938,NaN,NaN,1.295371,...,NaN,NaN,NaN,NaN,3.138547,2.175489,7.788053,0.076286,0.056635,NaN
min,NaN,NaN,NaN,NaN,NaN,60601.000000,1.000000,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,41.644227,-87.883375,NaN
25%,NaN,NaN,NaN,NaN,NaN,60620.000000,10.000000,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,4.000000,2.000000,4.000000,41.760017,-87.719139,NaN
50%,NaN,NaN,NaN,NaN,NaN,60624.000000,21.000000,NaN,NaN,2.000000,...,NaN,NaN,NaN,NaN,7.000000,4.000000,15.000000,41.812797,-87.672069,NaN
75%,NaN,NaN,NaN,NaN,NaN,60639.000000,28.000000,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,9.000000,6.000000,20.000000,41.880572,-87.628451,NaN
max,NaN,NaN,NaN,NaN,NaN,60827.000000,50.000000,NaN,NaN,5.000000,...,NaN,NaN,NaN,NaN,12.000000,7.000000,23.000000,42.022903,-87.525879,NaN

Исключим из дат AM и PM.

In [180]:
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)

In [181]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,fbi_cd,fbi_descr,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location
0,JE235091,2021-05-19 11:20:00,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,4,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858)
1,JE240540,2021-05-24 00:01:00,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,04B,AGGRAVATED BATTERY (INDEX),041A,AGGRAVATED - HANDGUN,5,2,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947)
2,JE241639,2021-05-24 21:05:00,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,01A,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,5,2,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858)

Для наглядности переведем колонки с месяцами и днями недели к названиям.

In [182]:
df['month'] = df['date'].dt.month_name() 
df['day_of_week'] = df['date'].dt.day_name() 
df['year'] = df['date'].dt.year

In [183]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,fbi_descr,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location,year
0,JE235091,2021-05-19 11:20:00,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,May,Wednesday,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858),2021
1,JE240540,2021-05-24 00:01:00,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,AGGRAVATED BATTERY (INDEX),041A,AGGRAVATED - HANDGUN,May,Monday,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947),2021
2,JE241639,2021-05-24 21:05:00,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0110,FIRST DEGREE MURDER,May,Monday,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858),2021

Создадими отдельную колонку с убийством и стрельбой.

In [184]:
df['type_of_unique_id'] = df['unique_id'].str.extract('(\w+)', expand=True)

In [185]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location,year,type_of_unique_id
0,JE235091,2021-05-19 11:20:00,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,0110,FIRST DEGREE MURDER,May,Wednesday,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858),2021,HOM
1,JE240540,2021-05-24 00:01:00,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,041A,AGGRAVATED - HANDGUN,May,Monday,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947),2021,HOM
2,JE241639,2021-05-24 21:05:00,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,0110,FIRST DEGREE MURDER,May,Monday,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858),2021,HOM

In [186]:
df.type_of_unique_id.unique()

array(['HOM', 'SHOOT'], dtype=object)

In [187]:
df['type_of_unique_id'] = df['type_of_unique_id'].map({'HOM': 'HOMICIDE', 'SHOOT': 'SHOOTING'})

In [188]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,iucr_cd,iucr_secondary,month,day_of_week,hour,latitude,longitude,location,year,type_of_unique_id
0,JE235091,2021-05-19 11:20:00,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,0110,FIRST DEGREE MURDER,May,Wednesday,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858),2021,HOMICIDE
1,JE240540,2021-05-24 00:01:00,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,041A,AGGRAVATED - HANDGUN,May,Monday,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947),2021,HOMICIDE
2,JE241639,2021-05-24 21:05:00,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,0110,FIRST DEGREE MURDER,May,Monday,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858),2021,HOMICIDE

In [189]:
df.fbi_cd.unique()

array(['01A', '04B', '00', '03', '15'], dtype=object)

In [190]:
df.fbi_descr.unique()

array(['HOMICIDE - 1ST OR 2ND DEGREE (INDEX)',
       'AGGRAVATED BATTERY (INDEX)', 'NON-CRIMINAL', 'ROBBERY (INDEX)',
       'WEAPONS'], dtype=object)

https://www.justia.com/criminal/offenses/homicide/first-degree-murder/  
https://www.justia.com/criminal/offenses/homicide/second-degree-murder/  
https://www.law.cornell.edu/wex/aggravated_battery  
https://www.tcsheriff.org/services/victim-services/non-criminal-incidents  
https://www.justia.com/criminal/offenses/theft-crimes/robbery/  
https://thelawdictionary.org/weapon/

Количество преступлений по годам

In [191]:
year = df\
    .groupby(['year', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()
year

,year,type_of_unique_id,fbi_descr,unique_id_count
0,2016,SHOOTING,AGGRAVATED BATTERY (INDEX),3505
1,2020,SHOOTING,AGGRAVATED BATTERY (INDEX),3378
2,2017,SHOOTING,AGGRAVATED BATTERY (INDEX),2726
3,2018,SHOOTING,AGGRAVATED BATTERY (INDEX),2361
4,2019,SHOOTING,AGGRAVATED BATTERY (INDEX),2165
5,2021,SHOOTING,AGGRAVATED BATTERY (INDEX),1152
6,2016,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),775
7,2020,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),766
8,2017,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),656
9,2018,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),578
10,2019,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),493
11,2021,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),240
12,2016,SHOOTING,ROBBERY (INDEX),172
13,2017,SHOOTING,ROBBERY (INDEX),152
14,2020,SHOOTING,ROBBERY (INDEX),130
15,2018,SHOOTING,ROBBERY (INDEX),105
16,2019,SHOOTING,ROBBERY (INDEX),97
17,2021,SHOOTING,ROBBERY (INDEX),44
18,2021,HOMICIDE,AGGRAVATED BATTERY (INDEX),11
19,2021,HOMICIDE,NON-CRIMINAL,5
20,2020,HOMICIDE,AGGRAVATED BATTERY (INDEX),4
21,2017,HOMICIDE,NON-CRIMINAL,4
22,2018,HOMICIDE,NON-CRIMINAL,2
23,2018,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
24,2021,SHOOTING,NON-CRIMINAL,1
25,2016,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
26,2019,HOMICIDE,NON-CRIMINAL,1
27,2020,HOMICIDE,ROBBERY (INDEX),1
28,2020,HOMICIDE,NON-CRIMINAL,1
29,2019,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
30,2021,SHOOTING,WEAPONS,1

2016 - самый многочисленный по стрельбе, убийстам и ограблениям. 2021 - самый малочисленный. Посмотрим на месяца.

In [192]:
month = df\
    .groupby(['month', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()
month

,month,type_of_unique_id,fbi_descr,unique_id_count
0,July,SHOOTING,AGGRAVATED BATTERY (INDEX),1733
1,June,SHOOTING,AGGRAVATED BATTERY (INDEX),1680
2,May,SHOOTING,AGGRAVATED BATTERY (INDEX),1675
3,August,SHOOTING,AGGRAVATED BATTERY (INDEX),1589
4,September,SHOOTING,AGGRAVATED BATTERY (INDEX),1304
5,April,SHOOTING,AGGRAVATED BATTERY (INDEX),1283
6,October,SHOOTING,AGGRAVATED BATTERY (INDEX),1234
7,March,SHOOTING,AGGRAVATED BATTERY (INDEX),1074
8,January,SHOOTING,AGGRAVATED BATTERY (INDEX),1050
9,November,SHOOTING,AGGRAVATED BATTERY (INDEX),996
10,December,SHOOTING,AGGRAVATED BATTERY (INDEX),909
11,February,SHOOTING,AGGRAVATED BATTERY (INDEX),760
12,May,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),376
13,June,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),365
14,July,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),359
15,August,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),321
16,September,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),307
17,October,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),304
18,April,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),297
19,January,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),252
20,November,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),252
21,February,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),228
22,March,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),225
23,December,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),222
24,August,SHOOTING,ROBBERY (INDEX),70
25,March,SHOOTING,ROBBERY (INDEX),70
26,May,SHOOTING,ROBBERY (INDEX),68
27,November,SHOOTING,ROBBERY (INDEX),65
28,January,SHOOTING,ROBBERY (INDEX),62
29,October,SHOOTING,ROBBERY (INDEX),57
30,July,SHOOTING,ROBBERY (INDEX),56
31,April,SHOOTING,ROBBERY (INDEX),56
32,December,SHOOTING,ROBBERY (INDEX),54
33,February,SHOOTING,ROBBERY (INDEX),51
34,September,SHOOTING,ROBBERY (INDEX),48
35,June,SHOOTING,ROBBERY (INDEX),43
36,January,HOMICIDE,NON-CRIMINAL,5
37,April,HOMICIDE,AGGRAVATED BATTERY (INDEX),4
38,February,HOMICIDE,NON-CRIMINAL,4
39,May,HOMICIDE,AGGRAVATED BATTERY (INDEX),3
40,May,HOMICIDE,NON-CRIMINAL,2
41,December,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
42,March,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
43,January,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
44,April,HOMICIDE,ROBBERY (INDEX),1
45,August,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
46,September,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
47,February,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
48,March,HOMICIDE,NON-CRIMINAL,1
49,November,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
50,May,SHOOTING,WEAPONS,1
51,July,HOMICIDE,NON-CRIMINAL,1
52,May,SHOOTING,NON-CRIMINAL,1
53,June,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
54,July,HOMICIDE,AGGRAVATED BATTERY (INDEX),1

По месяцам отличаются многочисленностью май и все три месяца лета. Посмотрим на дни недели.

In [193]:
df\
    .groupby(['day_of_week', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()

,day_of_week,type_of_unique_id,fbi_descr,unique_id_count
0,Sunday,SHOOTING,AGGRAVATED BATTERY (INDEX),3003
1,Saturday,SHOOTING,AGGRAVATED BATTERY (INDEX),2963
2,Monday,SHOOTING,AGGRAVATED BATTERY (INDEX),2004
3,Friday,SHOOTING,AGGRAVATED BATTERY (INDEX),1970
4,Tuesday,SHOOTING,AGGRAVATED BATTERY (INDEX),1844
5,Wednesday,SHOOTING,AGGRAVATED BATTERY (INDEX),1818
6,Thursday,SHOOTING,AGGRAVATED BATTERY (INDEX),1685
7,Sunday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),668
8,Saturday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),589
9,Friday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),501
10,Monday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),478
11,Tuesday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),432
12,Thursday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),425
13,Wednesday,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),415
14,Sunday,SHOOTING,ROBBERY (INDEX),134
15,Saturday,SHOOTING,ROBBERY (INDEX),107
16,Thursday,SHOOTING,ROBBERY (INDEX),100
17,Tuesday,SHOOTING,ROBBERY (INDEX),95
18,Friday,SHOOTING,ROBBERY (INDEX),94
19,Monday,SHOOTING,ROBBERY (INDEX),86
20,Wednesday,SHOOTING,ROBBERY (INDEX),84
21,Saturday,HOMICIDE,AGGRAVATED BATTERY (INDEX),6
22,Monday,HOMICIDE,AGGRAVATED BATTERY (INDEX),5
23,Tuesday,HOMICIDE,AGGRAVATED BATTERY (INDEX),3
24,Friday,HOMICIDE,AGGRAVATED BATTERY (INDEX),3
25,Friday,HOMICIDE,NON-CRIMINAL,3
26,Thursday,HOMICIDE,NON-CRIMINAL,2
27,Monday,HOMICIDE,NON-CRIMINAL,2
28,Wednesday,HOMICIDE,NON-CRIMINAL,2
29,Sunday,HOMICIDE,NON-CRIMINAL,2
30,Thursday,HOMICIDE,ROBBERY (INDEX),1
31,Thursday,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
32,Sunday,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
33,Tuesday,HOMICIDE,NON-CRIMINAL,1
34,Saturday,HOMICIDE,NON-CRIMINAL,1
35,Tuesday,SHOOTING,NON-CRIMINAL,1
36,Friday,SHOOTING,WEAPONS,1

Большинство преступлений - с пятницы по понедельник. В топе воскресение - стреляют, грабят и убивают. Посмотрим на часы в сутках.

In [194]:
df['hour_cut'] = pd.cut(df['hour'], bins=6)

In [195]:
df\
    .groupby(['hour_cut', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,hour_cut,type_of_unique_id,fbi_descr,unique_count
0,"(19.167, 23.0]",SHOOTING,AGGRAVATED BATTERY (INDEX),4305
1,"(-0.023, 3.833]",SHOOTING,AGGRAVATED BATTERY (INDEX),3427
2,"(15.333, 19.167]",SHOOTING,AGGRAVATED BATTERY (INDEX),3299
3,"(11.5, 15.333]",SHOOTING,AGGRAVATED BATTERY (INDEX),2270
4,"(7.667, 11.5]",SHOOTING,AGGRAVATED BATTERY (INDEX),1028
5,"(3.833, 7.667]",SHOOTING,AGGRAVATED BATTERY (INDEX),958
6,"(19.167, 23.0]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),873
7,"(15.333, 19.167]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),737
8,"(-0.023, 3.833]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),732
9,"(11.5, 15.333]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),563
10,"(7.667, 11.5]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),317
11,"(3.833, 7.667]",HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),286
12,"(19.167, 23.0]",SHOOTING,ROBBERY (INDEX),208
13,"(-0.023, 3.833]",SHOOTING,ROBBERY (INDEX),149
14,"(15.333, 19.167]",SHOOTING,ROBBERY (INDEX),138
15,"(11.5, 15.333]",SHOOTING,ROBBERY (INDEX),91
16,"(3.833, 7.667]",SHOOTING,ROBBERY (INDEX),68
17,"(7.667, 11.5]",SHOOTING,ROBBERY (INDEX),46
18,"(15.333, 19.167]",HOMICIDE,AGGRAVATED BATTERY (INDEX),5
19,"(19.167, 23.0]",HOMICIDE,AGGRAVATED BATTERY (INDEX),4
20,"(-0.023, 3.833]",HOMICIDE,NON-CRIMINAL,4
21,"(11.5, 15.333]",HOMICIDE,AGGRAVATED BATTERY (INDEX),4
22,"(11.5, 15.333]",HOMICIDE,NON-CRIMINAL,3
23,"(19.167, 23.0]",HOMICIDE,NON-CRIMINAL,3
24,"(-0.023, 3.833]",HOMICIDE,AGGRAVATED BATTERY (INDEX),3
25,"(7.667, 11.5]",HOMICIDE,NON-CRIMINAL,2
26,"(3.833, 7.667]",HOMICIDE,AGGRAVATED BATTERY (INDEX),2
27,"(15.333, 19.167]",HOMICIDE,NON-CRIMINAL,1
28,"(7.667, 11.5]",HOMICIDE,ROBBERY (INDEX),1
29,"(15.333, 19.167]",SHOOTING,NON-CRIMINAL,1
30,"(7.667, 11.5]",HOMICIDE,AGGRAVATED BATTERY (INDEX),1
31,"(-0.023, 3.833]",SHOOTING,WEAPONS,1
32,"(-0.023, 3.833]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
33,"(15.333, 19.167]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
34,"(15.333, 19.167]",SHOOTING,WEAPONS,0
35,"(-0.023, 3.833]",SHOOTING,NON-CRIMINAL,0
36,"(19.167, 23.0]",HOMICIDE,WEAPONS,0
37,"(19.167, 23.0]",HOMICIDE,ROBBERY (INDEX),0
38,"(15.333, 19.167]",HOMICIDE,WEAPONS,0
39,"(-0.023, 3.833]",HOMICIDE,WEAPONS,0
40,"(19.167, 23.0]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
41,"(19.167, 23.0]",SHOOTING,NON-CRIMINAL,0
42,"(-0.023, 3.833]",HOMICIDE,ROBBERY (INDEX),0
43,"(3.833, 7.667]",HOMICIDE,NON-CRIMINAL,0
44,"(7.667, 11.5]",HOMICIDE,WEAPONS,0
45,"(15.333, 19.167]",HOMICIDE,ROBBERY (INDEX),0
46,"(7.667, 11.5]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
47,"(3.833, 7.667]",HOMICIDE,ROBBERY (INDEX),0
48,"(3.833, 7.667]",HOMICIDE,WEAPONS,0
49,"(11.5, 15.333]",SHOOTING,WEAPONS,0
50,"(3.833, 7.667]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
51,"(11.5, 15.333]",SHOOTING,NON-CRIMINAL,0
52,"(11.5, 15.333]",SHOOTING,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),0
53,"(3.833, 7.667]",SHOOTING,NON-CRIMINAL,0
54,"(11.5, 15.333]",HOMICIDE,WEAPONS,0
55,"(11.5, 15.333]",HOMICIDE,ROBBERY (INDEX),0
56,"(3.833, 7.667]",SHOOTING,WEAPONS,0
57,"(7.667, 11.5]",SHOOTING,WEAPONS,0
58,"(7.667, 11.5]",SHOOTING,NON-CRIMINAL,0
59,"(19.167, 23.0]",SHOOTING,WEAPONS,0

Стреляют, убивают и грабят часов с 19 и до 3-4 часов утра.

In [196]:
df.fbi_descr.unique()

array(['HOMICIDE - 1ST OR 2ND DEGREE (INDEX)',
       'AGGRAVATED BATTERY (INDEX)', 'NON-CRIMINAL', 'ROBBERY (INDEX)',
       'WEAPONS'], dtype=object)

Возраст потерпевших.

In [197]:
df\
    .groupby(['age', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,age,type_of_unique_id,fbi_descr,unique_count
0,20 - 29,SHOOTING,AGGRAVATED BATTERY (INDEX),6947
1,0 - 19,SHOOTING,AGGRAVATED BATTERY (INDEX),3260
2,30 - 39,SHOOTING,AGGRAVATED BATTERY (INDEX),3198
3,20 - 29,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1505
4,40 - 49,SHOOTING,AGGRAVATED BATTERY (INDEX),1030
5,30 - 39,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),808
6,0 - 19,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),579
7,50 - 59,SHOOTING,AGGRAVATED BATTERY (INDEX),438
8,40 - 49,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),314
9,20 - 29,SHOOTING,ROBBERY (INDEX),274
10,no_info,SHOOTING,AGGRAVATED BATTERY (INDEX),232
11,50 - 59,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),188
12,30 - 39,SHOOTING,ROBBERY (INDEX),164
13,60 - 69,SHOOTING,AGGRAVATED BATTERY (INDEX),149
14,0 - 19,SHOOTING,ROBBERY (INDEX),87
15,40 - 49,SHOOTING,ROBBERY (INDEX),83
16,60 - 69,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),78
17,50 - 59,SHOOTING,ROBBERY (INDEX),52
18,70 - 79,SHOOTING,AGGRAVATED BATTERY (INDEX),24
19,70 - 79,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),22
20,no_info,SHOOTING,ROBBERY (INDEX),22
21,60 - 69,SHOOTING,ROBBERY (INDEX),16
22,80+,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),13
23,20 - 29,HOMICIDE,AGGRAVATED BATTERY (INDEX),10
24,80+,SHOOTING,AGGRAVATED BATTERY (INDEX),9
25,30 - 39,HOMICIDE,NON-CRIMINAL,5
26,30 - 39,HOMICIDE,AGGRAVATED BATTERY (INDEX),5
27,20 - 29,HOMICIDE,NON-CRIMINAL,3
28,70 - 79,SHOOTING,ROBBERY (INDEX),2
29,0 - 19,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
30,40 - 49,HOMICIDE,NON-CRIMINAL,2
31,60 - 69,HOMICIDE,ROBBERY (INDEX),1
32,60 - 69,HOMICIDE,NON-CRIMINAL,1
33,50 - 59,HOMICIDE,NON-CRIMINAL,1
34,50 - 59,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
35,40 - 49,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
36,20 - 29,SHOOTING,WEAPONS,1
37,no_info,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1
38,0 - 19,HOMICIDE,NON-CRIMINAL,1
39,40 - 49,SHOOTING,NON-CRIMINAL,1

Посмотрим на пол жертв.

In [198]:
df\
    .groupby(['sex', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,sex,type_of_unique_id,fbi_descr,unique_count
0,M,SHOOTING,AGGRAVATED BATTERY (INDEX),13043
1,M,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),3136
2,F,SHOOTING,AGGRAVATED BATTERY (INDEX),2003
3,M,SHOOTING,ROBBERY (INDEX),635
4,F,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),369
5,no_info,SHOOTING,AGGRAVATED BATTERY (INDEX),179
6,(NOT PROVIDED),SHOOTING,AGGRAVATED BATTERY (INDEX),59
7,F,SHOOTING,ROBBERY (INDEX),44
8,no_info,SHOOTING,ROBBERY (INDEX),21
9,M,HOMICIDE,AGGRAVATED BATTERY (INDEX),14
10,M,HOMICIDE,NON-CRIMINAL,10
11,F,HOMICIDE,AGGRAVATED BATTERY (INDEX),5
12,X,SHOOTING,AGGRAVATED BATTERY (INDEX),3
13,F,HOMICIDE,NON-CRIMINAL,3
14,no_info,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),2
15,M,HOMICIDE,ROBBERY (INDEX),1
16,F,SHOOTING,NON-CRIMINAL,1
17,M,SHOOTING,WEAPONS,1
18,X,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1

Нападают, убивают и грабят в основном мужчин.

Посмотрим на расовый состав потерпевших.

In [199]:
df\
    .groupby(['race', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,race,type_of_unique_id,fbi_descr,unique_count
0,BLK,SHOOTING,AGGRAVATED BATTERY (INDEX),11934
1,BLK,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),2804
2,WWH,SHOOTING,AGGRAVATED BATTERY (INDEX),2460
3,WWH,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),522
4,BLK,SHOOTING,ROBBERY (INDEX),512
5,WHI,SHOOTING,AGGRAVATED BATTERY (INDEX),300
6,(NOT PROVIDED),SHOOTING,AGGRAVATED BATTERY (INDEX),231
7,no_info,SHOOTING,AGGRAVATED BATTERY (INDEX),179
8,WHI,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),148
9,WBH,SHOOTING,AGGRAVATED BATTERY (INDEX),110
10,WWH,SHOOTING,ROBBERY (INDEX),97
11,API,SHOOTING,AGGRAVATED BATTERY (INDEX),50
12,WHI,SHOOTING,ROBBERY (INDEX),48
13,no_info,SHOOTING,ROBBERY (INDEX),21
14,U,SHOOTING,AGGRAVATED BATTERY (INDEX),19
15,WBH,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),17
16,BLK,HOMICIDE,AGGRAVATED BATTERY (INDEX),16
17,API,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),14
18,API,SHOOTING,ROBBERY (INDEX),13
19,BLK,HOMICIDE,NON-CRIMINAL,12
20,I,SHOOTING,AGGRAVATED BATTERY (INDEX),4
21,(NOT PROVIDED),SHOOTING,ROBBERY (INDEX),3
22,WBH,SHOOTING,ROBBERY (INDEX),3
23,U,SHOOTING,ROBBERY (INDEX),3
24,no_info,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),2
25,WWH,HOMICIDE,AGGRAVATED BATTERY (INDEX),2
26,U,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1
27,WHI,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
28,BLK,SHOOTING,NON-CRIMINAL,1
29,BLK,HOMICIDE,ROBBERY (INDEX),1
30,WWH,HOMICIDE,NON-CRIMINAL,1
31,WWH,SHOOTING,WEAPONS,1

In [200]:
df.columns

Index(['case_number', 'date', 'block', 'primary_type', 'unique_id', 'zip_code',
       'ward', 'community_area', 'street_outreach_organization', 'area',
       'district', 'beat', 'age', 'sex', 'race', 'fbi_cd', 'fbi_descr',
       'iucr_cd', 'iucr_secondary', 'month', 'day_of_week', 'hour', 'latitude',
       'longitude', 'location', 'year', 'type_of_unique_id', 'hour_cut'],
      dtype='object')

In [202]:
df\
    .groupby(['street_outreach_organization', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,street_outreach_organization,type_of_unique_id,fbi_descr,unique_count
0,None,SHOOTING,AGGRAVATED BATTERY (INDEX),3794
1,None,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),960
2,READI 60644 | INVC Austin,SHOOTING,AGGRAVATED BATTERY (INDEX),864
3,UCAN North Lawndale | READI 60623,SHOOTING,AGGRAVATED BATTERY (INDEX),684
4,ALSO Humboldt Park,SHOOTING,AGGRAVATED BATTERY (INDEX),648
...,...,...,...,...
221,TADC West Englewood | READI 60631,SHOOTING,WEAPONS,1
222,CRED Southside | Acclivus Washington Heights,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1
223,TADC Englewood | READI 60621 | Acclivus Washin...,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1
224,TADC West Englewood,SHOOTING,AGGRAVATED BATTERY (INDEX),1
225,Enlace South Lawndale,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),1

In [203]:
df\
    .query('type_of_unique_id == "HOMICIDE"')\
    .groupby(['street_outreach_organization', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .head(10)\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,street_outreach_organization,type_of_unique_id,fbi_descr,unique_count
0,ALSO Humboldt Park,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),126
1,Acclivus Grand Boulevard,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),32
2,ALSO Belmont Cragin,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),29
3,Acclivus Douglas,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),24
4,Acclivus Fuller Park,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),22
5,ALSO Avondale,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),17
6,ALSO Albany Park,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),16
7,ALSO Humboldt Park | ALSO Belmont Cragin,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),5
8,ALSO Belmont Cragin,HOMICIDE,AGGRAVATED BATTERY (INDEX),1
9,Acclivus Douglas,HOMICIDE,AGGRAVATED BATTERY (INDEX),1

In [204]:
df\
    .query('type_of_unique_id == "SHOOTING"')\
    .groupby(['street_outreach_organization', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .head(10)\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

,street_outreach_organization,type_of_unique_id,fbi_descr,unique_count
0,ALSO Humboldt Park,SHOOTING,AGGRAVATED BATTERY (INDEX),648
1,ALSO Belmont Cragin,SHOOTING,AGGRAVATED BATTERY (INDEX),161
2,Acclivus Douglas,SHOOTING,AGGRAVATED BATTERY (INDEX),107
3,ALSO Avondale,SHOOTING,AGGRAVATED BATTERY (INDEX),83
4,ALSO Albany Park,SHOOTING,AGGRAVATED BATTERY (INDEX),79
5,ALSO Humboldt Park,SHOOTING,ROBBERY (INDEX),22
6,ALSO Humboldt Park | ALSO Belmont Cragin,SHOOTING,AGGRAVATED BATTERY (INDEX),18
7,ALSO Belmont Cragin,SHOOTING,ROBBERY (INDEX),6
8,ALSO Avondale,SHOOTING,ROBBERY (INDEX),4
9,ALSO Albany Park,SHOOTING,ROBBERY (INDEX),3

https://www.humboldtparkportal.org/directory/alliance-of-local-service-organizations-also/

In [208]:
df\
    .query('year in (2016, 2017) and street_outreach_organization == "ALSO Humboldt Park"')\
    .groupby(['year', 'type_of_unique_id', 'fbi_descr', 'street_outreach_organization'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()

,year,type_of_unique_id,fbi_descr,street_outreach_organization,unique_id_count
0,2016,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,143
1,2017,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,136
2,2016,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,25
3,2017,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,19
4,2016,SHOOTING,ROBBERY (INDEX),ALSO Humboldt Park,7
5,2017,SHOOTING,ROBBERY (INDEX),ALSO Humboldt Park,4

In [209]:
df\
    .query('year in (2020, 2021) and street_outreach_organization == "ALSO Humboldt Park"')\
    .groupby(['year', 'type_of_unique_id', 'fbi_descr', 'street_outreach_organization'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()

,year,type_of_unique_id,fbi_descr,street_outreach_organization,unique_id_count
0,2020,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,144
1,2020,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,36
2,2021,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,35
3,2021,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,9
4,2020,SHOOTING,ROBBERY (INDEX),ALSO Humboldt Park,5

In [212]:
df\
    .query('year in (2020, 2021) and street_outreach_organization == "ALSO Humboldt Park"')\
    .groupby(['year', 'type_of_unique_id', 'fbi_descr', 'street_outreach_organization'])\
    .agg(unique_id_count=('unique_id', 'count'))\
    .sort_values('unique_id_count', ascending=False)\
    .reset_index()

,year,type_of_unique_id,fbi_descr,street_outreach_organization,unique_id_count
0,2020,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,144
1,2020,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,36
2,2021,SHOOTING,AGGRAVATED BATTERY (INDEX),ALSO Humboldt Park,35
3,2021,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),ALSO Humboldt Park,9
4,2020,SHOOTING,ROBBERY (INDEX),ALSO Humboldt Park,5

In [213]:
df.head(3)

,case_number,date,block,primary_type,unique_id,zip_code,ward,community_area,street_outreach_organization,area,...,iucr_secondary,month,day_of_week,hour,latitude,longitude,location,year,type_of_unique_id,hour_cut
0,JE235091,2021-05-19 11:20:00,7400 S DR MARTIN,FATAL SHOOTING,HOM-JE235091-1,60619,6,GREATER GRAND CROSSING,Acclivus Greater Grand Crossing,1,...,FIRST DEGREE MURDER,May,Wednesday,11,41.759333,-87.615011,POINT (-87.615010941301 41.759333095858),2021,HOMICIDE,"(7.667, 11.5]"
1,JE240540,2021-05-24 00:01:00,2000 N LARAMIE AVE,FATAL SHOOTING,HOM-JE240540-1,60639,36,BELMONT CRAGIN,ALSO Belmont Cragin,3,...,AGGRAVATED - HANDGUN,May,Monday,0,41.919410,-87.755999,POINT (-87.755998547471 41.919409668947),2021,HOMICIDE,"(-0.023, 3.833]"
2,JE241639,2021-05-24 21:05:00,500 S OAKLEY BLVD,FATAL SHOOTING,HOM-JE241639-1,60612,28,NEAR WEST SIDE,None,3,...,FIRST DEGREE MURDER,May,Monday,21,41.875343,-87.684209,POINT (-87.684209058699 41.875343095858),2021,HOMICIDE,"(19.167, 23.0]"

In [218]:
df.groupby(['year', 'type_of_unique_id', 'fbi_descr'])\
    .agg(case_number_count=('case_number', 'count'), case_number_unique=('case_number', 'nunique'))\
    .sort_values('case_number_count', ascending=False)\
    .reset_index()

,year,type_of_unique_id,fbi_descr,case_number_count,case_number_unique
0,2016,SHOOTING,AGGRAVATED BATTERY (INDEX),3505,2897
1,2020,SHOOTING,AGGRAVATED BATTERY (INDEX),3378,2697
2,2017,SHOOTING,AGGRAVATED BATTERY (INDEX),2726,2231
3,2018,SHOOTING,AGGRAVATED BATTERY (INDEX),2361,1945
4,2019,SHOOTING,AGGRAVATED BATTERY (INDEX),2165,1759
5,2021,SHOOTING,AGGRAVATED BATTERY (INDEX),1152,969
6,2016,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),775,737
7,2020,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),766,736
8,2017,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),656,609
9,2018,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),578,553
10,2019,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),493,473
11,2021,HOMICIDE,HOMICIDE - 1ST OR 2ND DEGREE (INDEX),240,229
12,2016,SHOOTING,ROBBERY (INDEX),172,164
13,2017,SHOOTING,ROBBERY (INDEX),152,139
14,2020,SHOOTING,ROBBERY (INDEX),130,121
15,2018,SHOOTING,ROBBERY (INDEX),105,103
16,2019,SHOOTING,ROBBERY (INDEX),97,90
17,2021,SHOOTING,ROBBERY (INDEX),44,41
18,2021,HOMICIDE,AGGRAVATED BATTERY (INDEX),11,11
19,2021,HOMICIDE,NON-CRIMINAL,5,4
20,2020,HOMICIDE,AGGRAVATED BATTERY (INDEX),4,4
21,2017,HOMICIDE,NON-CRIMINAL,4,4
22,2018,HOMICIDE,NON-CRIMINAL,2,2
23,2018,HOMICIDE,AGGRAVATED BATTERY (INDEX),2,2
24,2021,SHOOTING,NON-CRIMINAL,1,1
25,2016,HOMICIDE,AGGRAVATED BATTERY (INDEX),1,1
26,2019,HOMICIDE,NON-CRIMINAL,1,1
27,2020,HOMICIDE,ROBBERY (INDEX),1,1
28,2020,HOMICIDE,NON-CRIMINAL,1,1
29,2019,HOMICIDE,AGGRAVATED BATTERY (INDEX),1,1
30,2021,SHOOTING,WEAPONS,1,1

In [ ]:
df\
    .query('fbi_descr == "HOMICIDE - 1ST OR 2ND DEGREE (INDEX)"')\
    .groupby(['primary_type', 'type_of_unique_id', 'fbi_descr'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index()

In [ ]:
df\
    .groupby(['hour', 'type_of_unique_id'])\
    .agg(unique_count=('unique_id', 'count'))\
    .sort_values('unique_count', ascending=False)\
    .reset_index().plot(kind='bar', figsize=(15,4));